[Unit]
Description=Enable ThinkPad LED as HDD LED
DefaultDependencies=true
Wants=graphical.target

[Service]
ExecStart=/usr/share/hdd_led/hdd_led.py

[Install]
WantedBy=multi-user.target

